<po-page-login
    *ngIf="!showPageBlocked"
    p-login-pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
    p-logo="../../../assets/resources/gtslogologin.png"
    p-password-pattern=".*"
    p-product-name="Portal Venda Premiada"
    p-register-url="/register"
    [p-login-errors]="loginErrors"
    [p-exceeded-attempts-warning]="exceededAttempts"
    [p-hide-remember-user]="hideRememberUser"
    [p-loading]="loading"
    [p-password-errors]="passwordErrors"
    [p-login-errors]="loginErrors"
    [p-recovery]="passwordRecovery"
    (p-login-change)="loginChange()"
    (p-login-submit)="checkLogin($event)"
    (p-password-change)="passwordChange()">
</po-page-login>
